<h2>My cart</h2>
<section class="product" id="product">
<div class="box-container">
<%if @cart.empty? %>
<p>your cart is empty</p>
<%else%>
<% @cart.each do |product|%>
       <div class="box">
  <%=image_tag(product.image, width: "300", height: "200")%><br>
  <strong>Name:</strong>
  <%= product.name %> <br>
  <strong>Price:</strong>
  <%= product.price %>Rs<br>
  <strong>Description:</strong>
  <%= product.description%><br>
  <%# <div class="quantity"></div> %>
   
  
   <%= link_to 'remove from cart', remove_from_cart_path(product), method: :delete, class:"btn btn-secondary" %>
    
     
     
     
    
     </div>
      <% end %>
       <% end %>

      </div>
      </section>